/* чтоб не ломался подвал */
.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}
/* Увеличивает размер текста */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
	text-align: center;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Шапка */
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	color: #1abc9c;
}

.navbar-default {
	border-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #1abc9c;
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

/* Фон на главной странице */
#headerwrap {
	background: url(../img/back.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Надпись на главной странице  */
#headerwrap h1 {
	color:#ffffff;
	padding-top: 1px;
	padding-bottom: 20px;
	letter-spacing: 2px;
	font-size: 59px;
	font-weight: bold;
	text-align: center;
}

/* Влияет на иконки в подвале */
@media (max-width: 768px) {
  #headerwrap {
    padding-top: 229px;
  }
}

#social {
	margin-left:20%;
	padding-top: 50px;
	padding-bottom: 50px;
}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #1abc9c
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}
/* Фото о музыканте  */
#aboutwrap {
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Настройка для фоток Галерея */
.gallery {
	margin-top: 30px;
	 width="400"
     height="341"
}

.gallery img:hover {
	opacity: 0.4;
}


/* Контакт */

#contactwrap {
	background: url(../img/contact.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
  background-size: 100%;
  background-size: cover;
}

#contactwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 60px;
	font-weight: bold;
	
}

#contact {
  padding: 40px 0;
}

#contact h2 {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.contact-form label {
   color: #999;
}

.contact-form input, .contact-form textarea {
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
}
/* Кнопка */
.contact-form .form-send {
  text-align: center;
}

.contact-form .form-send button  {
  background: #008B8B;
  border: 0;
  padding: 14px 40px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}
/* подвал */

#copyrights {
  background: #222222;
  padding: 20px 0;
  text-align: center;
}

#copyrights p {
  margin-bottom: 5px;
  color: gray;
}
